<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="groupApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="groupApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="groupApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="groupApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Website Grouping Tool</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="MainController as main">

  <main class="container">
    <div class="row">
      <!-- Add website and add group buttons -->
      <section class="col-sm-3 col-sm-offset-1 controls">
        <div class="well">
          <button type="button" class="btn btn-primary btn-block">
            Add site
          </button>
          <button class="btn btn-primary btn-block">
            Add group
          </button>
        </div>
      </section>
      <section class="col-sm-4" id="groups">
        <div class="list-group">
          <button type="button" class="list-group-item active" ng-click="main.setCurrentGroup(null)">
            All websites <span class="badge">{{main.sites.length}}</span>
          </button>
          <div ng-repeat="group in main.groups">
            <button type="button" class="list-group-item" ng-click="main.setCurrentGroup(group)" ng-class="{'current-group':main.isCurrentGroup(group)}">
              {{group.name}}
              <section class="group-controls pull-right">
                <a href="#">
                  <span class="glyphicon glyphicon-edit info" aria-hidden="true"></span>
                </a>
                <a href="#">
                  <span class="glyphicon glyphicon-remove danger" aria-hidden="true"></span>
                </a>
                <span class="badge">{{group.sites.length || 0}}</span>
              </section>
            </button>
          </div>
        </div>
      </section>

      <section class="col-sm-4">
        <table class="table table-bordered">
          <tr>
            <th scope="col">Url</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
          <tr ng-repeat="site in main.sites}">
            <td>
              <a href="{{site.url}}" target="_blank">
                {{site.url}}
              </a>
            </td>
            <td>
              <a href="#">
                Edit
              </a>
            </td>
            <td>
              <a href="#">
                Delete
              </a>
            </td>
          </tr>
        </table>
      </section>
    </div>

  </main>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="app.js"></script>
<script src="checklist-model.js"></script>
</body>
</html>
