<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="groupApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="groupApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="groupApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="groupApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Website Grouping Tool</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="MainController as main">

  <main class="container" ng-controller="GroupController as groupCtrl">
    <div class="row">
      <!-- Add website and add group buttons -->
      <section class="col-sm-3 controls">
        <controls></controls>
      </section>

      <div ng-controller="TabController as tab">
        <!-- Group list -->
        <section class="col-sm-4" id="groups">
          <div class="list-group">

            <!-- All websites button -->
            <button type="button" class="list-group-item active" ng-click="tab.setCurrentGroup(null)">
              All websites <span class="badge">{{main.sites.length}}</span>
            </button>

            <!-- Ungrouped websites button -->
            <button type="button" class="list-group-item" ng-click="tab.setCurrentGroup('ungrouped')" ng-class="{'current-group':tab.isCurrentGroup('ungrouped')}">
              Ungrouped websites
              <span class="badge badge-alt">{{main.getUngroupedSites()}}</span>
            </button>

            <!-- Group buttons -->
            <group-list></group-list>

            <!-- Group modals -->
            <add-group-modal></add-group-modal>
            <edit-group-modal></edit-group-modal>

            <!-- Site modals -->
            <add-site-modal></add-site-modal>
            <edit-site-modal></edit-site-modal>


            <button type="button" class="list-group-item" data-toggle="modal" data-target="#website-modal">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add website
            </button>
          </div> <!-- .list-group -->
        </section> <!-- .groups -->

        <!-- Website list -->
        <section class="col-sm-5">

          <!-- Shows up when there are no sites -->
          <div class="well" ng-hide="main.sites.length">
            You have no websites.
            <button class="btn btn-primary" data-toggle="modal" data-target="#website-modal">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add one now!
            </button>
          </div>

          <!-- Search and select form -->
          <section class="row" ng-show="main.sites.length">
            <div class="col-sm-12">
              <form class="form-inline">
                <input type="text" class="form-control" placeholder="Search" ng-model="search">
                <select
                  name="howManyRows" id="howManyRows"
                  class="form-control pull-right"
                  ng-options="option.value for option in main.dataToShowOptions track by option.id"
                  ng-model="main.dataToShow"></select>
              </form>
            </div>
          </section>

          <br>

          <!-- Main table -->
          <table
            class="table table-bordered"
            ng-show="tab.currentGroup.sites.length"
            ng-hide="main.sites.length === 0 || tab.isCurrentGroup('ungrouped')"
            >
            <tr>
              <th scope="col"> ID </th>
              <th scope="col"> Url </th>
              <th scope="col"> Color </th>
              <th class="text-center" scope="col" colspan="2">Action</th>
            </tr>
            <tr ng-repeat="site in main.sites | filter:{groups:tab.currentGroup.name} |
                           filter:{url: search} | limitTo:main.dataToShow.value track by site.id"
            >
              <!-- Table data -->
              <td> {{$index + 1}} </td>
              <td>
                <a href="{{site.url}}" target="_blank">
                  {{site.url}}
                </a>
              </td>
              <td> {{site.color || "none"}} </td>
              <td>
                <a href="#" ng-click="main.setEditedSite(site)" data-toggle="modal" data-target="#edit-website-modal">
                  Edit
                </a>
              </td>
              <td>
                <a href="#" ng-click="main.deleteSite(site)">
                  Delete
                </a>
              </td>
            </tr>
          </table>

          <!-- Ungrouped table -->
          <table
            class="table table-bordered"
            ng-show="tab.isCurrentGroup('ungrouped') && main.getUngroupedSites()"
            ng-hide="!tab.isCurrentGroup('ungrouped') ||
                               main.sites.length === 0"
            >
            <tr>
              <th scope="col"> ID </th>
              <th scope="col"> Url </th>
              <th scope="col"> Color </th>
              <th class="text-center" scope="col" colspan="2">Action</th>
            </tr>

            <tr ng-repeat="site in main.sites |
                     filter:main.byEmptyGroup |
                     filter:search            |
                     limitTo:main.dataToShow.value track by site.id"
            >
              <!-- Table data -->
              <td> {{$index + 1}} </td>
              <td>
                <a href="{{site.url}}" target="_blank">
                  {{site.url}}
                </a>
              </td>
              <td> {{site.color || "none"}} </td>
              <td>
                <a href="#" ng-click="main.setEditedSite(site)" data-toggle="modal" data-target="#edit-website-modal">
                  Edit
                </a>
              </td>
              <td>
                <a href="#" ng-click="main.deleteSite(site)">
                  Delete
                </a>
              </td>
            </tr>
          </table>

        </section> <!-- .col-sm-5 -->
      </div>
    </div> <!-- .row -->
  </main>


  <div class="container json" ng-if="main.showJson">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-2">
        Sites
        <pre>{{main.sites | json}}</pre>
      </div>
      <div class="col-sm-3">
        Groups
        <pre>{{main.groups | json}}</pre>
      </div>
    </div>
  </div>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="app.js"></script>
<script src="checklist-model.js"></script>
</body>
</html>
