<div class="modal fade" id="website-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add site</h4>
      </div>
      <div class="modal-body">

        <!-- Website URL form -->
        <form class="form-horizontal" ng-submit="main.createSite(main.newSite)">
          <div class="form-group">
            <label for="website-url" class="col-sm-2 control-label">Site URL</label>
            <div class="col-sm-10">
              <input ng-model="main.newSite.url" type="text" class="form-control" id="website-url" required>
            </div>
          </div>

          <!-- Website color form -->
          <div class="form-group">
            <label for="website-color" class="col-sm-2 control-label">Site color</label>
            <div class="col-sm-10">
              <select ng-model="main.newSite.color" name="selectColor" id="selectColor" class="form-control">
                <option value="">- None -</option>
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="yellow">Yellow</option>
                <option value="orange">Orange</option>
              </select>
            </div>
          </div>
          <!-- Website group form -->
          <div class="form-group" ng-show="groupCtrl.groups.length">
            <label for="pick-group" class="col-sm-2 control-label">Groups</label>
            <div class="col-sm-10" id="pick-group">
              <div ng-repeat="group in groupCtrl.groups track by group.id">
                <div class="checkbox">
                  <label>
                    <input
                    type="checkbox"
                    checklist-model="main.newSite.groups"
                    checklist-value="group.name"
                    >
                    {{ group.name }}
                  </label>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
