<table
  class="table table-bordered">
  <tr>
    <th scope="col"> ID </th>
    <th scope="col"> Url </th>
    <th scope="col"> Color </th>
    <th class="text-center" scope="col" colspan="2">Action</th>
  </tr>

  <tr ng-repeat="site in main.sites |
           filter:main.byEmptyGroup |
           filter:search            |
           limitTo:main.dataToShow.value track by site.id"
  >
    <!-- Table data -->
    <td> {{$index + 1}} </td>
    <td>
      <a href="{{site.url}}" target="_blank">
        {{site.url}}
      </a>
    </td>
    <td> {{site.color || "none"}} </td>
    <td>
      <a href="#" ng-click="main.setEditedSite(site)" data-toggle="modal" data-target="#edit-website-modal">
        Edit
      </a>
    </td>
    <td>
      <a href="#" ng-click="main.deleteSite(site)">
        Delete
      </a>
    </td>
  </tr>
</table>
